# Ignore virtual environment
venv/
.virtual_documents/


# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/

# Ignore Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore data files (if raw/processed data should not be tracked)
data/raw/
data/processed/
data/results/

