# Ignore virtual environment
venv/

# Ignore Jupyter checkpoint files
.ipynb_checkpoints/

# Ignore virtual documents
.virtual_documents/

# Ignore Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore unnecessary data files if applicable
data/raw/
data/processed/

